@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #fff;
}

input{
  display: block;
  padding: 8px 16px;
  font-size: 2em;
  margin: 10px auto;
  width: 100%;
  box-sizing: border-box;
  border-radius: 10px;
  border: 3px solid #ccc;
  outline: none !important;
}
input.valid{
  border-color: green;
}
input.invalid{
  border-color: orange;
}